<!DOCTYPE html>
<html>
<head>
<title>Computer Science</title>
</head>
<body>
<h1>Computer Science</h1>

<img src="assets/Tushar-Ostwal.jpg" alt="College image">  
  <p>Indira College has been important pillar in career. I was the topper in the Pune University. This college has given lots to every student and their achievements. It has great campus, developed infrastructure.
  The college encourages the students to actively take part in all activities, enhances the personality by taking personality development seminars. They also give practice for interviews by taking mock interviews. There are various seminars for technical skills, communication skills, etc.
  Various cultural programs and social programs are conducted. This college has the best placement pool.
  Many leading company's give opportunities to all fresher's passing out from college.
  The best part of the college is the teaching staff the supportive nature, the helping hand, they inculcate all values.
  "This college shapes the sculptor of every Student into a beautiful portrait." This institute of knowledge gives power to every child to get the best out of him.
  I wish luck to this college to create many more such great personalities.</p>
<p>Regards,</p>
<p>Tushar Ostwal.</p>
<p>M.Sc.CS-2011-13.</p>
</body>
</html>
