 <img src="assets/exam.jpg" alt="exam img">
 <h1>October 2024 Examination Timetables</h1>

 <h2>Exam Department Contact No:</h2>
<p>+91 020 66759648 / 02066759547 / 02066759546</p>
<br>
<table>
   <thead>
     <tr>
       <th>Notice Title</th>
       <th>Date</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td>B.Com. Timetable October 2024 (Semester 1 NEP 2024 Pattern)</td>
       <td>27/09/2024</td>
     </tr>
     <tr>
       <td>B.Com. (Financial Market) Timetable October 2024 (Semester 1 NEP 2024 Pattern)</td>
       <td>27/09/2024</td>
     </tr>
     <tr>
       <td>B.Sc.(Computer Science) Timetable October 2024 (Semester 1 NEP 2024 Pattern)</td>
       <td>27/09/2024</td>
     </tr>
     <tr>
       <td>B.Sc.(Cyber Security) Timetable October 2024 (Semester 1 NEP 2024 Pattern)</td>
       <td>27/09/2024</td>
     </tr>
     <tr>
       <td>B.Sc.(Data Science)Timetable October 2024 (Semester 1 NEP 2024 Pattern)</td>
       <td>27/09/2024</td>
     </tr>
     <tr>
       <td>M.COM. Timetables October 2024</td>
       <td>27/09/2024</td>
     </tr>
     <tr>
       <td>M.Sc.(Computer Science) Timetables October 2024</td>
       <td>27/09/2024</td>
     </tr>
     <tr>
        <td>M.Sc.(Computer Application) Timetable October 2024 (Semester 1 NEP 2024 Pattern)</td>
        <td>27/09/2024</td>
      </tr>
      <tr>
        <td>BBA Timetables October 2024 Examination</td>
        <td>12/09/2024</td>
      </tr>
     <tr>
        <td>BBA(IB) Timetables October 2024 Examination</td>
        <td>12/09/2024</td>
     </tr>
     <tr>
        <td> B.Com. Timetables October 2024 Examination</td>
        <td>12/09/2024</td>
     </tr>
     <tr>
        <td> B.Com. Timetables October 2024 Examination</td>
        <td>12/09/2024</td>
     </tr>
     <tr>
        <td> B.Com.(Financial Market) Timetables October 2024 Examination</td>
        <td>12/09/2024</td>
     </tr>
     <tr>
        <td>BCA(Science) Timetables October 2024 Examination</td>
        <td>12/09/2024</td>
     </tr>
     <tr>
        <td>B.Sc. (Cyber Security) Timetables October 2024 Examination</td>
        <td>12/09/2024</td>
     </tr>
