<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICCS Events</title>
   
</head>
<body>
    <img src="assets/student.jpg" alt="Student image">
    <div class="container">
        <div class="card">
            <h2>Annual Day</h2>
            <p>ICCS strives to nurture students to become holistic citizens exhibiting ethical, professional and social values earnestly. Keeping this in mind, ICCS every year organizes an Annual Day.</p>
             
        </div>
        <div class="card">
            <h2>Outdoor Management Training (OMT)</h2>
            <p>OMT is a dynamic initiative designed to enrich students' academic experience beyond the traditional classroom setting.</p>
             
        </div>
        <div class="card">
            <h2>Transformation Series: 2023-24</h2>
            <p>ICCS proudly presents "Transformation Series," a remarkable initiative where individuals with diverse abilities showcased their talents and engaged with our students.</p>
             
        </div>
    </div>
</body>
</html>