<img src="assets/indira1.jpg" alt="indira group">
<h1>Indira College of Commerce & Science</h1>

<p>Under the wings of Shree Chanakya Education Society (SCES), Indira College of Commerce and Indira College of Science were established in the year 2001-2002 which was merged in the year 2007 as Indira College of Commerce and Science. Afﬁliated and approved by Savitribai Phule Pune University, Pune. ICCS offers the Bachelor’s Program in Commerce, Bachelors in Business Administration & Computer Application, Bachelor’s and M.Sc in Computer Science and Masters in Commerce.
</p>
<h4>ICCS has been accredited with ‘A’ grade by “National Accreditation and Assessment Council” (NAAC) and "An Autonomous Status by UGC in 2020, New Delhi

</h4>

<p>
    The well-architected campus is spread over 5 acres with independent departments, spacious classrooms, well equipped library with a vast collection of books, latest journals and periodicals and a huge collection of CD’s, laboratory with all new acquainted technical conﬁgurations. A well designed auditorium having capacity of 540 persons with all new technical equipments is the main highlight in which various programs i.e. academic and cultural are carried out, hostels for girls and boys having capacity of approx 690 students. Sports facilities are also availed by students which comprises of a sports room in which Table Tennis, Carrom, Chess, Bow and Arrow and various other games are played by students.</p>

