<img src="assets/indira.jpg" alt="indira group">
<h1>Shree Chanakya Education Society's "Indira Group of Institutes"</h1>

<p>Shree Chanakya Education Society’s “Indira Group of Institutes”, Pune was established in 1994, with the explicit vision to provide sustainable impetus to the corporate and entrepreneurial abilities in the youth. The realization that a robust framework of education is indispensable for the growth of global leaders, the visionary, Dr. Tarita Shankar, Chairperson, Indira Group, integrated her pursuit of excellence and articulated educational institutions, known as Indira Group of Institutes (IGI), which imbibe human excellence and demonstrate strong social values, with a single minded pursuit of developing the youth to become business leaders.</p>
<h4>Having traversed the journey of twenty-ﬁve years we have ourselves made certain signiﬁcant achievements which, we are aware, are but the building blocks for achieving further heights.</h4>
<ul>
    <li>Indira is ranked amongst the top 2 B-schools in Pune, by the prestigious AIMA – IMJ</li>
    <li>The same journal gave us a top 30, all India ranking on the parameters of Industry interface.</li>
    <li>Our students have shown good academic results and have been at the level of university ranking.</li>
    <li>Indira Group of Institutes and our goodwill has enabled us to establish campus agreement with Microsoft for using different software.</li>
    <li>Our Institutes have received accreditation from various certifying bodies </li> 
</ul>


