<img src="assets/placement.jpg" alt="placement img">

<h1>Placed Student Details 2023-24</h1>

<h2>Placed Students of MSC(Computer Science)</h2>

<table>
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>Student Name</th>
            <th>Company</th>
            <th>Designation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Aishwarya Subhash Wavhal</td>
            <td>TATA Elxsi</td>
            <td>Trainee Engineer</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Akanksha Dattatray Thube</td>
            <td>Al Unika Technologies</td>
            <td>Trainee Engineer</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Maithili Milind Sathe</td>
            <td>SMS Magic/Centralogic</td>
            <td>Trainee Consultant</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Mansi Manoj Pardeshi</td>
            <td>Hadron GBS</td>
            <td>Software Trainee</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Milind Ashok Sable</td>
            <td>Sankey Business Solutions</td>
            <td>Software Developer</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Mrunmayee Mahesh Bangar</td>
            <td>SpringCT/WorkDay</td>
            <td>Trainee Engineer/ Business Analyst</td>
        </tr>
        <tr>
    </tbody>
</table>
<br>
        <h2>Placed Students of B.sc Cyber Security 2023-24</h2>
<table>
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>Student Name</th>
            <th>Company</th>
            <th>Designation</th>
        </tr>
    </thead>
    <tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>Rekha Vagaram Choudhary</td>
                <td>Accenture</td>
                <td>Packaged App Development Associate</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Manohar Baburao Mestri</td>
                <td>Accenture</td>
                <td>Packaged App Development Associate</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Sahil Arvind Sawant</td>
                <td>Accenture</td>
                <td>Packaged App Development Associate</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Ritika Nitin Waykole</td>
                <td>Avalara</td>
                <td>Go Live Analyst</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Dnyand Totre</td>
                <td>Sincro Digital</td>
                <td>Process Associate</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Atharv Anant Kaijkar</td>
                <td>Benelec Infotech</td>
                <td>Security Engineer</td>
            </tr>
            <tr>
    </tbody>
 </table>