<img src="assets/exam.jpg" alt="img">

<h2>Placement Committee</h2>

<p>ICCS extends career guidance and campus placement, which is a gateway to an aspired career and helps the students become competent in the world of cutthroat competition.</p>
<br>
<p>At ICCS Career Services, a soft skills development program and aptitude are provided, which enhance the potential of students and create maximum opportunities for their placement in the job market.</p>
<br>
<p>The on-campus recruitment at ICCS provides a convenient way for corporations to interview our students for permanent employment. The process has been designed jointly by the faculty, recruiters, and students over the years and tries to optimize the interests of all.</p>
<br>
<p>We arrange workshops, alumni meet for interactions, and we collaborate with various multinational companies to open new avenues of career. We conduct a pre-placement activity program for the final-year students, which helps them get placed in MNCs.
</p>
<br>

<table>
    <thead>
        <tr>
            <th>TPO Name</th>
            <th>Course</th>
            <th>Contact No</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dr. Manisha Patil</td>
            <td>M.Sc. (Comp. Sci.)</td>
            <td>020-66759635</td>
        </tr>
        <tr>
            <td>Prof. Shital Pashankar</td>
            <td>B.Sc. (Comp. Sci.), B.Sc.(Cyber Security)</td>
            <td>020-66759634</td>
        </tr>
        <tr>
            <td>Prof. Ashapak Nadaf</td>
            <td>BBA-CA, BCA(Science)</td>
            <td>020 - 66759517</td>
        </tr>
        <tr>
            <td>Prof. Bharat Nagargoje</td>
            <td>B.Com, B.Com(Financial Markets), M.Com</td>
            <td>020-66759637</td>
        </tr>
        
    </tbody>
</table>
